<style>
 {% for block in section.blocks %}
    #block--{{ block.id }} .block-image-text{
      --block-background-color: {{ block.settings.color }};
      margin: {{ block.settings.margin }}px 0;
     }
 {% endfor %}
</style>
<section id="block--{{ block.id }}" data-block-id="{{ block.id }}" data-block-type="text-centered" class="relative">
  <div class="container-full block-image-text">
     <div class="grid grid--flush grid--middle {% if block.settings.reverse %} grid--rev {% endif %}">
       <div class="1/2--lap-and-up grid__cell">
         <div class="image-text__content">
           <h2 class="image-text__title">{{ block.settings.title }}</h2>
           <h4 class="image-text__subtitle">{{ block.settings.subtitle }}</h4>
           <div class="image-text__text">{{ block.settings.text }}</div>
           <div class="image-text__cta">
            <h5>{{ block.settings.cta }}</h5>
            <div id="cta-button" > {% render 'icon-play' %}</div>
            </div>
         </div>
       </div>
       <div class="1/2--lap-and-up grid__cell fs-0">
         {% if block.settings.image != blank %}
          {% render 'image' with img : block.settings.image, class: 'full-width' %}
         {% endif %}
       </div>
     </div> 
  </div>
  <div class="image-text__popup">
  {% if block.settings.cta-video %}
    <iframe width="100%" height="100%" src="{{ block.settings.video_url }}{%- if section.settings.video-autoplay -%}?autoplay=1& {%- endif -%}{%-unless section.settings.controls-%};controls=0;{%-endunless-%}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
  {% else %}
     {% if block.settings.image-popup %}
      {% render 'image' with img : block.settings.image-popup, class: 'full-width' %}
     {% endif %}
  {% endif %}
  </div>
</section>
<script>
  $('#cta-button').on('click', function() {
    $('#pop-up').toggle('400');
  })

  $('#close-pop').on('click', function() {
    $('#pop-up').toggle('400');
  })
</script>
