<div class="grid__cell 1/3 megamenu-images__image hover-image__container">
  <a class="{{ class }}" href="{{ url }}">
    <img class="hover-zoom" src="{{ image | img_url : 'master' }}" alt="{{ image.alt }}">
    	{% if image_hover %}
    		<img class="hover-image__secondary" src="{{ image_hover | img_url : 'master' }}" alt="{{ image_hover.alt }}">
    	{% endif %}
      {% if arrow_button %}
	  <div class="secondary-title">
        {% include 'arrow-button' with class:'z-h7 secondary-title', href : url, text : title %}
	</div>
      {% else %}
        <div class="align-center megamenu-image__title">
          {{ title }}
        </div>
      {% endif %}
  </a>
</div>
