<div class="menu-mobile__logo">
     {% render 'image' with img:section.settings.logo, class: 'full-width' %}
</div>
<div id="cross" class="menu-mobile__cross">
  {%- render 'icon-cross' -%}
</div>
<div class="menu-mobile__search">
    <form class="relative" action="/search" method="get" role="search">
        <div class="menu-mobile__logo-search">{% render 'icon-search' %}</div>
        <input class="input--full menu-mobile__input--search" type="search" name="q"
          id="Search" value="{{ search.terms | escape }}"
          placeholder="{{ 'general.search.placeholder' | t }}">
    </form>
</div>
<div class="mobile-nav">
  <nav role="navigation">
    <ul>
      {% for link in linklists[section.settings.main_linklist].links %}
        {% if link.links != blank %}
          <li>
            <a class="menu__link menu-mobile__link" href="{{ link.url }}">{{ link.title | escape }}</a>
            <ul>
              {% for childlink in link.links %}
                {% if childlink.links != blank %}
                  <li class="menu-mobile__list">
                    <a class="menu__link mukta" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                    <ul>
                      {% for grandchildlink in childlink.links %}
                        <li>
                          <a class="menu__link mukta" href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li>
                    <a class="menu__link mukta" href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li>
            <a class="menu__link  menu-mobile__link" href="{{ link.url }}">{{ link.title | escape }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
<div class="menu-mobile__account">
  <a href="/account">
   <div class="menu-mobile__cart border-right">
     <div>
      {%- render 'icon-user' -%}
     </div>
     <h5>{{ 'layout.customer.log_in' | t | customer_login_link }}</h5>
   </div>
   </a>
   <a href="/cart">
   <div class="menu-mobile__cart">
     <div>
      {%- render 'icon-bag' -%}
     </div>
     <h5>{{ 'layout.cart.title' | t | customer_login_link }}</h5>
   </div>
   </a>
</div>
