<section id="block--{{ block.id }}" data-block-id="{{ block.id }}" data-block-type="text-centered-savoir-faire" class="text-savoir-faire relative">
  <div data-toggle-container class="container-small">
      <div  class="page-savoir-faire__flex {% if forloop.first == "true" %} border-top {% endif %} b-bottom">
        <h2 class="page__title">{{ block.settings.title }}</h2>
        <div  data-toggle-arrow class="arrow-right lap-and-up--hide {% if block.settings.display-open == true %} arrow-rotate {% endif %}">
          {%- render 'arrow-right'-%}
        </div>
      </div>
      <div data-toggle-content class="page-savoir-faire__content {% unless block.settings.display-open == true %} content-none {% endunless %}">
        <h4 class="page__subtitle">{{ block.settings.subtitle }}</h4>
        <div class="page-savoir-faire__text">{{ block.settings.text }}</div>
        <div class="page-savoir-faire__image">
          {% if block.settings.image != blank %}
            {% render 'image' with img : block.settings.image, class: 'full-width' %}
          {% endif %}
        </div>
      </div>
  </div>
</section>
