<section id="block--{{ block.id }}" data-block-id="{{ block.id }}" data-block-type="text-centered" class="relative">
  <div class="container-small">
      <div data-menu-trigger class="page-savoir-faire__flex {% if forloop.first == "true" %} border-top {% endif %}">
        <h2 class="page__title">{{ block.settings.title }}</h2>
        <div  class="arrow-right mobile-only">
          {%- render 'arrow-right'-%}
        </div>
      </div>
      <div data-footer-panel class="page-savoir-faire__content {% unless block.settings.display-open == true %} none {% endunless %}">
        <h4 class="page__subtitle">{{ block.settings.subtitle }}</h4>
        <div class="page-savoir-faire__text">{{ block.settings.text }}</div>
        <div class="page-savoir-faire__image">
          {% if block.settings.image != blank %}
            {% render 'image' with img : block.settings.image, class: 'full-width' %}
          {% endif %}
        </div>
      </div>
  </div>
</section>
