{%- capture class_desktop -%}
   {{ block.settings.banner_desktop_height }}
{%- endcapture -%}
<section id="block--{{ block.id }}" data-block-id="{{ block.id }}" data-block-type="text-centered">
   <div class="container-small">
     <div class="text-centered__height relative {{ class_desktop }}">
       <div class="home-text__megabox">
         <div class="home-text__content monserrat-light">{{ block.settings.text }}</div>
       </div>
    </div>
  </div>
</section>
