<div class="page-account relative">
  {% render 'breadcrumbs' %}
  <div class="account__background pocket--hide">
   {% if section.settings.image != blank %}
    {% render 'image' with img : section.settings.image, class: 'full-width' %}
   {% endif %}
  </div>
  <div class="container-large">
     <div class="grid">
       <div class="1/3--lap-and-up grid__cell relative">
         {% render 'account-menu' %}
       </div>
       <div class="2/3--lap-and-up grid__cell relative">
         <div class="address__header">
           <h1 class="account__title">{{ 'customer.account.title' | t }}</h1>
           <h2 class="account__subtitle">{{ 'customer.addresses.title' | t }}</h2>
         </div>
         <div class="address__content">
           {% for address in customer.addresses %}
             {% if address == customer.default_address %}
               <p><strong>{{ 'customer.addresses.default' | t }}</strong></p>
             {% endif %}
             {{ address | format_address }}
             <button type="button" class="address-edit-toggle btn button--secondary" data-form-id="{{ address.id }}">
                {{ 'customer.addresses.edit' | t }}
            </button>
             <button type="button" class="address-delete btn button--secondary" data-form-id="{{ address.id }}" data-confirm-message="{{ 'customer.addresses.delete_confirm' | t }}">
               {{ 'customer.addresses.delete' | t }}
             </button>
             <button type="button" class="btn button--secondary address-new-toggle align-center">{{ 'customer.addresses.add_new' | t }}</button>
         </div>
         {% comment %} address-form {% endcomment %}
         <div id="EditAddress_{{ address.id }}" class="hide address-form">
            {% form 'customer_address', address %}
             <h4 class="account__subtitle">{{ 'customer.addresses.edit_address' | t }}</h4>

            <label class="address__label" for="AddressFirstName_{{ form.id }}">
              {{ 'customer.addresses.first_name' | t }}
            </label>
            <input type="text"
                   name="address[first_name]"
                   class="address__input"
                   id="AddressFirstName_{{ form.id }}"
                   value="{{ form.first_name }}"
                   autocapitalize="words">

            <label class="address__label" for="AddressLastName_{{ form.id }}">
              {{ 'customer.addresses.last_name' | t }}
            </label>
            <input type="text"
                   name="address[last_name]"
                   class="address__input"
                   id="AddressLastName_{{ form.id }}"
                   value="{{ form.last_name }}"
                   autocapitalize="words">

            <label class="address__label" for="AddressCompany_{{ form.id }}">
              {{ 'customer.addresses.company' | t }}
            </label>
            <input type="text"
                   name="address[company]"
                   class="address__input"
                   id="AddressCompany_{{ form.id }}"
                   value="{{ form.company }}"
                   autocapitalize="words">

            <label class="address__label" for="AddressAddress1_{{ form.id }}">
              {{ 'customer.addresses.address1' | t }}
            </label>
            <input type="text"
                   name="address[address1]"
                   class="address__input"
                   id="AddressAddress1_{{ form.id }}"
                   value="{{ form.address1 }}"
                   autocapitalize="words">

            <label class="address__label" for="AddressAddress2_{{ form.id }}">
              {{ 'customer.addresses.address2' | t }}
            </label>
            <input type="text"
                   name="address[address2]"
                   class="address__input"
                   id="AddressAddress2_{{ form.id }}"
                   value="{{ form.address2 }}"
                   autocapitalize="words">

            <label class="address__label" for="AddressCity_{{ form.id }}">
              {{ 'customer.addresses.city' | t }}
            </label>
            <input type="text"
                   name="address[city]"
                   class="address__input"
                   id="AddressCity_{{ form.id }}"
                   value="{{ form.city }}"
                   autocapitalize="words">

            <label class="address__label" for="AddressCountry_{{ form.id }}">
              {{ 'customer.addresses.country' | t }}
            </label>
            <select
              name="address[country]"
              class="address__input"
              id="AddressCountry_{{ form.id }}"
              class="address-country-option"
              data-form-id="{{ form.id }}"
              data-default="{{ form.country }}">
              {{ country_option_tags }}
            </select>

            <div id="AddressProvinceContainer_{{ form.id }}" style="display: none">
              <label class="address__label" for="AddressProvince_{{ form.id }}">
                {{ 'customer.addresses.province' | t }}
              </label>
              <select
                name="address[province]"
                class="address__input"
                id="AddressProvince_{{ form.id }}"
                data-default="{{ form.province }}">
              </select>
            </div>

            <label class="address__label" for="AddressZip_{{ form.id }}">
              {{ 'customer.addresses.zip' | t }}
            </label>
            <input type="text"
                   name="address[zip]"
                   class="address__input"
                   id="AddressZip_{{ form.id }}"
                   value="{{ form.zip }}"
                   autocapitalize="characters">

            <label class="address__label" for="AddressPhone_{{ form.id }}">
              {{ 'customer.addresses.phone' | t }}
            </label>
            <input type="tel"
                   name="address[phone]"
                   class="address__input"
                   id="AddressPhone_{{ form.id }}"
                   value="{{ form.phone }}"
                   pattern="[0-9\-]*">

            {{ form.set_as_default_checkbox }}
            <label class="address__label" for="address_default_address_{{ form.id }}">
              {{ 'customer.addresses.set_default' | t }}
            </label>

            <input type="submit" class="btn button--submit" value="{{ 'customer.addresses.update' | t }}">
            <button type="button" class="address-edit-toggle btn button--secondary" data-form-id="{{ form.id }}">
              {{ 'customer.addresses.cancel' | t }}
            </button>
            {% endform %}
          </div>
          {% render 'address-form'%}
          {% endfor %}
       </div>
    </div>
  </div>
</div>
