<style>
  #section--{{ section.id }} .section-reviews{
     --container-background-color: {{ section.settings.bg-color }};
   }
  #section--{{ section.id }} .home-reviews__grid{
      --content-column-color: {{ section.settings.separator-color }};
    }
  {% if section.settings.slider %}
    @media screen and (max-width: 800px) {
     #section--{{ section.id }} .line__review{
      border: 0;
    }
    #section--{{ section.id }} .review__article{
     border-bottom: 0;
    }
   }
  {% endif %}
</style>
<section id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="reviews">
  <div class="section-reviews">
   <div class="container-large">
     <div class="home-reviews__title-box {% unless section.settings.title-mobile %} desktop-only {% endunless%}">
       <h2 class="home-reviews__title">{{ section.settings.title }}</h2>
       <div class="home-reviews__subtitle">{{ section.settings.subtitle }}</div>
     </div>
     <div class="home-reviews__content home-reviews__grid">
       <div class="{% if section.settings.slider %} main-carousel carousel {% endif %}" data-flickity='{ "watchCSS": true, "pageDots": true,  "prevNextButtons": false }'>
         {%- assign blog = blogs[section.settings.blog] -%}
         {% for article in blog.articles %}
             {% assign avis_style= "" %}
             {% assign stars = "" %}
             {% assign product_title= "" %}

                  {% for loop_tag in article.tags %}
                  	{% comment %} capture les styles {% endcomment %}
                  	{%- if loop_tag contains 'font-size'
                  		  or loop_tag contains 'font-family'
                  		  or loop_tag contains 'font-style'
                  		  or loop_tag contains 'letter-spacing'
                  		  or loop_tag contains 'line-height'
                  		  or loop_tag contains 'color' -%}
                  		  	{% assign avis_style = avis_style | append: loop_tag | append: ";" %}
                  	{%- endif -%}

                  	{% comment %} capture les stars {% endcomment %}
                  	{% elsif loop_tag contains 'stars__' %}
                  		  {% assign nbr_stars = loop_tag | remove: 'stars__' | plus: 0 %}
                  		      {%- capture stars -%}
                  		          {% for i in (1..nbr_stars) %}
                                         {% render 'icon-star' %}
                  		          {% endfor %}
                  		      {%- endcapture -%}
                      {% endif %}

                  	{% comment %} capture le titre {% endcomment %}
                  	{% elsif loop_tag contains 'p__' %}
                  		{% assign product_handle = loop_tag | remove: 'p__' %}
                  		{% assign product_title = all_products[product_handle].title %}
                  		{% assign product_url = all_products[product_handle].url %}
                  		{% capture product_title %}
                  			<a class="avis__date" href="{{ product_url }}">{{ product_title }}</a>
                  		{% endcapture %}
                  	{% endif %}

                  	{% else %}{% continue %}{% endif %}

                  {% endfor %}
              <div class="review__article carousel-cell">
                <div class="reviews__stars">
                <ul>
                  {{ stars }}
                </ul>
             </div>
             <div class="home-reviews__article-text {% for tag in article.tags %} {% if tag contains "italic" %} italic {% elsif tag contains "garamond" %} garamond {% endif %} {% endfor %}">
               {{ article.metafields.article.sup-title }}
             </div>
             <p class="home-reviews__article-name "> &#8213; {{ article.metafields.article.name }},<span>{{ article.metafields.article.age }}</span></p>
             <div class="home-reviews__handle">
               {% for tag in article.tags %}
                 {% if tag contains "p__" %}
                  {% assign product-handle = tag | remove: "p__"  %}
                  {% assign product-article = all_products[product-handle] %}
                  <h5 class="article-handle"><a href="{{ product-article.url }}">{{ product-handle }}</a></h5>
                 {% endif %}
                {% endfor %}
                <h5>Published {{ "now" | date: "%b %d, %y" }}</h5>
             </div>
             {% if article.image != blank %}
              <div class="home-reviews__image desktop-only">
                <img src="{{ article.image | img_url: 'master' }}" alt="">
              </div>
              {% endif %}
              <div class="relative">
                 <div class="line__review"></div>
              </div>
             </div>
              {% endfor %}
          </div>
       </div>
     </div>
     {% if section.settings.button-link != blank %}
       <div class="container-button">
          <div class="button-primary"><a href="{{ section.settings.url }}"></a>{{ section.settings.button-link}}</div>
       </div>
     {% endif %}
   </div>
 </div>
</section>
{% schema %}
{
  "name": "Reviews PRO",
  "settings": [
     {
       "type": "color",
       "id": "bg-color",
       "label": "label",
       "default": "#f6fbfa"
     },
     {
       "type": "color",
       "id": "separator-color",
       "label": "Seperator color",
       "info": "The color in between columns",
       "default": "#333e47"
     },
     {
       "type": "text",
       "id": "title",
       "label": "label",
       "default": "La communauté"
     },
     {
       "type": "richtext",
       "id": "subtitle",
       "label": "subtitle",
       "info": "info",
       "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
     },
     {
       "type": "checkbox",
       "id": "title-mobile",
       "label": "Show title in mobile",
       "default": false
     },
     {
       "type": "blog",
       "id": "blog",
       "label": "blog",
       "info": "Choose a blog"
     },
     {
        "type":      "range",
        "id":        "reviews",
        "min":       3,
        "max":       20,
        "step":      1,
        "label":     "Number of reviews",
        "default":   5
    },
    {
      "type": "checkbox",
      "id": "show-product",
      "label": "show products",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "slider",
      "label": "Slider in mobile",
      "default": false,
      "info": "If checked will show in a carousel in mobile"
    },
    {
      "type": "text",
      "id": "button-link",
      "label": "Button",
      "default": "Lire tous les avis"
    },
    {
      "type": "url",
      "id": "url",
      "label": "Button url"
    }
  ],
  "presets": [
      {
        "name": "Home Reviews PRO",
        "category": "Homepage"
      }
    ]
}
{% endschema %}
