<style>
 {% for block in section.blocks %}
   {% if block.settings.reverse %}
     #block--{{ block.id }} .savoir-faire__block{
       flex-direction: column-reverse;
      }
   {% endif %}
 {% endfor %}
</style>
<section id="section--{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="savoir-faire">
  <div class="container-full">
    <div class="grid grid--flush">
       {% for block in section.blocks %}
         {% if block.type == 'block-image-text' %}
            <div class="1/4--lap-and-up grid__cell">
              <div id="block--{{ block.id }}">
                <div class="savoir-faire__block">
                  <div class="savoir-faire__content relative match">
                    <h2 class="savoir-faire__title">{{ block.settings.title}}</h2>
                  </div>
                  <div class="savoir-faire__image">
                    {% include 'image' with img:block.settings.image, class: 'full-width match' %}
                  </div>
                </div>
              </div>
            </div>
          {% endif%}
          {% if block.type == 'block-only-image' %}
           <div class="1/4--lap-and-up grid__cell">
             <div id="block--{{ block.id }}">
              <div class="savoir-faire__block">
                <div class="savoir-faire__image">
                  {% include 'image' with img:block.settings.image, class: 'full-width'  %}
                </div>
              </div>
            </div>
          </div>
         {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous">
</script>
{% for block in section.blocks %}
    <script>
            $(function() {
            	$('.match').matchHeight({
                byRow: false,
                property: 'min-height',
                target: null,
                remove: false
              });
            });
    </script>
{% endfor %}
{% schema %}
{
  "name": "Savoir Faire",
  "settings": [
     {
       "type": "text",
       "id": "button-link",
       "label": "Button",
       "default": "Notre Savoir faire"
     },
     {
       "type": "url",
       "id": "url",
       "label": "Button url"
     }
  ],
  "blocks": [
    {
      "type": "block-image-text",
      "name": "image and tetx",
      "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "title",
            "default": "Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "image"
          },
          {
            "type": "checkbox",
            "id": "only-image",
            "label": "Only image",
            "default": false,
            "info": "Display only image without text"
          },
          {
            "type": "checkbox",
            "id": "reverse",
            "label": "Reverse column",
            "default": false
          }

      ]
    },
    {
      "type": "block-only-image",
      "name": "Only image",
      "settings": [

          {
            "type": "image_picker",
            "id": "image",
            "label": "image"
          }
      ]
    }
  ],
  "presets": [
      {
        "name": "Home Savoir Faire",
        "category": "Homepage"
      }
    ]
}
{% endschema %}
